* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .screen {
    width: 414px;
    height: 1105px;
    background: rgba(250, 249, 249, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: auto;
  }
  #comboboxSou {
    position: absolute;
    top: 151px;
    left: 17%;
    font-family: 'Poppins';
    font-size: 15px;
    background-color: rgba(239,240,246,1);
    z-index: 99;
    color: rgba(154,154,154,1);
  }
  #comboboxs {
    position: absolute;
    top: 374px;
    left: 12%;
    font-family: 'Poppins';
    font-size: 15px;
    background-color: rgba(239,240,246,1);
    z-index: 99;
    color: rgba(154,154,154,1);
    padding: 8px 16px;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border: none;
}
  .buttonRegisto {
    width: 230px;
    height: 46px;
    background: rgba(229,0,78,0.6299999952316284);
    opacity: 1;
    position: relative;
    top: 1012px;
    left: 91px;
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
    border-bottom-left-radius: 31px;
    border-bottom-right-radius: 31px;
    font-family: 'Poppins';
    font-size: 22px;
    color: whitesmoke;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    border: none;
    box-shadow: -4px 4px 2px rgb(171 171 171 / 50%);
  }
  .Registo {
    width: 292px;
    color: rgb(216 214 214);
    position: absolute;
    top: 51px;
    left: 37.5%;
    font-family: Roboto;
    font-size: 33px;
    opacity: 1;
  }
  .thirdBox {
    width: 325px;
    height: 64px;
    background: rgba(239,240,246,1);
    opacity: 1;
    position: absolute;
    top: 273px;
    left: 46px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: none;
    overflow: hidden;
    text-align: center;
  }
  .emailBox {
    width: 325px;
    height: 64px;
    background: rgba(239,240,246,1);
    opacity: 1;
    position: absolute;
    top: 274px;
    left: 46px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: none;
    overflow: hidden;
    text-align: center;
  }
  .textEmail {
    width: 139px;
    color: rgba(154,154,154,1);
    position: absolute;
    top: 278px;
    left: 66px;
    font-family: Poppins;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .birthBox {
    width: 325px;
    height: 64px;
    background: rgba(239,240,246,1);
    opacity: 1;
    position: absolute;
    top: 351px;
    left: 46px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: none;
    overflow: hidden;
    text-align: center;
  }
  .textBirthday {
    width: 202px;
    color: rgba(154,154,154,1);
    position: absolute;
    top: 355px;
    left: 66px;
    font-family: Poppins;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .cityBox {
    width: 325px;
    height: 64px;
    background: rgba(239,240,246,1);
    opacity: 1;
    position: absolute;
    top: 428px;
    left: 46px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: none;
    overflow: hidden;
    text-align: center;
  }
  .textCity {
    width: 99px;
    color: rgba(154,154,154,1);
    position: absolute;
    top: 432px;
    left: 66px;
    font-family: Poppins;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .countyBox {
    width: 325px;
    height: 64px;
    background: rgba(239,240,246,1);
    opacity: 1;
    position: absolute;
    top: 505px;
    left: 46px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: none;
    overflow: hidden;
    text-align: center;
  }
  .textCounty {
    width: 116px;
    color: rgba(154,154,154,1);
    position: absolute;
    top: 509px;
    left: 66px;
    font-family: Poppins;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .postalCodeBox {
    width: 326px;
    height: 64px;
    background: rgba(239,240,246,1);
    opacity: 1;
    position: absolute;
    top: 583px;
    left: 46px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: none;
    overflow: hidden;
    text-align: center;
  }
  .textPostalCode {
    width: 176px;
    color: rgba(154,154,154,1);
    position: absolute;
    top: 588px;
    left: 66px;
    font-family: Poppins;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .addressBox {
    width: 325px;
    height: 64px;
    background: rgba(239,240,246,1);
    opacity: 1;
    position: absolute;
    top: 662px;
    left: 46px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: none;
    overflow: hidden;
    text-align: center;
  }
  .textAddress {
    width: 107px;
    color: rgba(154,154,154,1);
    position: absolute;
    top: 666px;
    left: 66px;
    font-family: Poppins;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .schoolBox {
    width: 325px;
    height: 64px;
    background: rgba(239,240,246,1);
    opacity: 1;
    position: absolute;
    top: 741px;
    left: 46px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: none;
    overflow: hidden;
    text-align: center;
  }
  .textSchool {
    width: 96px;
    color: rgba(154,154,154,1);
    position: absolute;
    top: 744px;
    left: 66px;
    font-family: Poppins;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .hiddenS {
    display: block;
  }
  .hiddenE {
    display: block;
  }
  .phoneNumberBox {
    width: 325px;
    height: 64px;
    background: rgba(239,240,246,1);
    opacity: 1;
    position: absolute;
    top: 741px;
    left: 46px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: none;
    overflow: hidden;
    text-align: center;
  }
  .textPhoneNumber {
    width: 179px;
    color: rgba(154,154,154,1);
    position: absolute;
    top: 744px;
    left: 66px;
    font-family: Poppins;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .hiddenPn {
    display: block;
  }
  .hiddenNt {
    display: block;
  }
  .passwordBox {
    width: 325px;
    height: 64px;
    background: rgba(239,240,246,1);
    opacity: 1;
    position: absolute;
    top: 821px;
    left: 46px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: none;
    overflow: hidden;
    text-align: center;
  }
  .textChoosePassword {
    width: 204px;
    color: rgba(154,154,154,1);
    position: absolute;
    top: 825px;
    left: 66px;
    font-family: Poppins;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .confirmPasswordBox {
    width: 326px;
    height: 64px;
    background: rgba(239,240,246,1);
    opacity: 1;
    position: absolute;
    top: 901px;
    left: 46px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: none;
    overflow: hidden;
    text-align: center;
  }
  .textConfirm {
    width: 209px;
    color: rgba(154,154,154,1);
    position: absolute;
    top: 904px;
    left: 66px;
    font-family: Poppins;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .nameBox {
    width: 325px;
    height: 64px;
    background: rgba(239,240,246,1);
    opacity: 1;
    position: absolute;
    top: 197px;
    left: 46px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: none;
    overflow: hidden;
    text-align: center;
  }
  .textName {
    width: 90px;
    color: rgba(154,154,154,1);
    position: absolute;
    top: 201px;
    left: 66px;
    font-family: Poppins;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .euSouBox {
    width: 325px;
    height: 64px;
    background: rgba(239,240,246,1);
    opacity: 1;
    position: absolute;
    top: 121px;
    left: 46px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: none;
    overflow: hidden;
    text-align: center;
  }
  .text {
    width: 68px;
    color: rgba(154,154,154,1);
    position: absolute;
    top: 4px;
    left: 22px;
    font-family: Poppins;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .bgmodal {
    width: 86%;
    height: 25%;
    background-color: rgba(235, 235, 235, 94);
    position: absolute;
    top: 273px;
    left: 30px;
    display: flex;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: -15px 15px 10px lightgrey;
}

.buttonLoginRegisto {
    width: 149px;
    height: 46px;
    background: rgb(225, 225, 225, 88);
    opacity: 1;
    position: absolute;
    top: 118px;
    left: 8%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    font-size: 18px;
    border: none;
    font-family: 'Poppins';
    box-shadow: -3px 3px 2px rgb(162 162 162 / 50%);
}

.buttonInicioRegisto {
    width: 149px;
    height: 45px;
    background: rgb(225, 225, 225, 88);
    opacity: 1;
    position: absolute;
    top: 118px;
    left: 52%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    font-size: 18px;
    font-family: 'Poppins';
    border: none;
    box-shadow: -3px 3px 2px rgb(162 162 162 / 50%);
}

.welcome {
    width: 191px;
    height: 103px;
    color: rgba(110, 113, 145, 1);
    position: absolute;
    top: 19%;
    left: 25%;
    font-family: Poppins;
    font-size: 17px;
    opacity: 1;
    text-align: center;
}

.hidden {
    display: none;
}

.close {
    width: 61px;
    height: 53px;
    position: absolute;
    left: 294px;
    border: none;
    color: black;
    background: rgba(235, 235, 235, 94);
}
