* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .screen {
    width: 414px;
    height: 736px;
    background: rgba(250, 249, 249, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .classdivArtigos {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 199px;
    left: 107px;
    position: absolute;
    width: 205px;
    height: 276px;
  }
  /*.firstRectangleVideo {
    width: 340px;
    height: 237px;
    background: rgba(245,244,242,1);
    opacity: 1;
    position: absolute;
    top: 113px;
    left: 38px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .secondRectangleVideo {
    width: 340px;
    height: 242px;
    background: rgba(245,244,242,1);
    opacity: 1;
    position: absolute;
    top: 372px;
    left: 38px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .firstText {
    width: 171px;
    color: rgba(154,154,154,1);
    position: absolute;
    top: 578px;
    left: 73px;
    font-family: 'Poppins';
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }
  .secondText {
    width: 111px;
    color: rgba(154,154,154,1);
    position: absolute;
    top: 316px;
    left: 71px;
    font-family: 'Poppins';
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: center;
  }*/
  .titleRectangle {
    width: 140px;
    height: 45px;
    background: rgba(255,198,0,0.3499999940395355);
    opacity: 1;
    position: absolute;
    top: 43px;
    left: 136px;
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
    border-bottom-left-radius: 31px;
    border-bottom-right-radius: 31px;
    overflow: hidden;
  }
  .title {
    width: 112px;
    color: rgba(231,183,15,1);
    position: absolute;
    top: 44px;
    left: 151px;
    font-family: Roboto;
    font-weight: Light;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .buttonDelete {
    width: 140px;
    height: 46px;
    background: rgb(255 198 0 / 66%);
    opacity: 1;
    position: relative;
    top: 111px;
    left: 217px;
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
    border-bottom-left-radius: 31px;
    border-bottom-right-radius: 31px;
    overflow: hidden;
    border: none;
    box-shadow: -4px 4px 2px rgb(171 171 171 / 50%);
  }
  .textDelete {
    width: 311px;
    color: rgb(251 251 251);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Poppins;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .buttonAdd {
    width: 140px;
    height: 46px;
    background: rgb(255 198 0 / 66%);
    opacity: 1;
    position: relative;
    top: 111px;
    left: -80px;
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
    border-bottom-left-radius: 31px;
    border-bottom-right-radius: 31px;
    overflow: hidden;
    border: none;
    box-shadow: -4px 4px 2px rgb(171 171 171 / 50%);
  }
  .textAdd {
    width: 311px;
    color: rgb(251 251 251);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Poppins;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  /*.videoUnicef {
    top: 128px;
    left: 51px;
    position: absolute;
    width: 316px;
    height: 176px;
  }
  .videoDGS {
    top: 388px;
    left: 51px;
    position: absolute;
    width: 316px;
    height: 176px;
  }*/
  #buttonbackArtigosDireitosProChild {
    position: absolute;
    top: 46px;
    left: 32px;
    border: none;
    font-size: x-large;
    color: lightgray;
    background-color: rgba(250, 249, 249, 1);
  }
  #bgmodalArtigosDireitosProChild {
    width: 342px;
    height: 326px;
    background: rgb(236 236 236 / 96%);
    opacity: 1;
    position: absolute;
    top: 184px;
    left: 9%;
    border-top-left-radius: 39px;
    border-top-right-radius: 39px;
    border-bottom-left-radius: 39px;
    border-bottom-right-radius: 39px;
    font-size: 18px;
    font-family: 'Poppins';
    border: none;
    box-shadow: -3px 3px 2px rgb(162 162 162 / 50%);
  }
  .textArtigosPopUp {
    width: 124px;
    height: 33px;
    color: rgb(64 64 64);
    position: absolute;
    top: 5%;
    left: 33%;
    font-family: Poppins;
    font-size: 19px;
    opacity: 1;
    text-align: center;
  }
  .closeX {
    top: 15px;
    left: 289px;
    position: absolute;
    font-family: Poppins;
    font-size: 20px;
    color: rgb(109 109 109);
    border: none;
    background: rgb(236 236 236 / 0%);
  }
  .textareaArtigos {
    width: 287px;
    height: 183px;
    top: 58px;
    left: 27px;
    position: absolute;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: lightgray;
    font-size: 16px;
    font-family: 'Poppins';
    text-align: left;
  }
  .buttonPublicar {
    width: 171px;
    height: 45px;
    background: rgb(222 222 222);
    opacity: 1;
    position: absolute;
    top: 258px;
    left: 82px;
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
    border-bottom-left-radius: 31px;
    border-bottom-right-radius: 31px;
    overflow: hidden;
    border: none;
    box-shadow: -4px 4px 2px rgb(171 171 171 / 50%);
    font-family: 'Poppins';
    font-size: 17px;
  }
  .hidden {
    display: none;
  }