* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .screen {
    width: 414px;
    height: 736px;
    background: rgba(250, 249, 249, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: auto;
  }
  .adicionarMaterial {
    width: 326px;
    height: 64px;
    background: rgba(250, 249, 249, 1);
    opacity: 1;
    position: absolute;
    top: 119px;
    left: 61px;
    border-top-left-radius: 0;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: none;
    overflow: hidden;
  }
  .textAdicionar {
    width: 311px;
    color: rgb(251 251 251);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Poppins;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .divMateriais {
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-family: 'POPPINS';
    font-size: 15px;
    top: 223px;
    left: 88px;
    position: absolute;
    width: 10px;
    height: 10px;
  }
  .col-md-6 {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: 285px;
  }
  .buttonDelete {
    width: 140px;
    height: 46px;
    background: rgb(224 139 218);
    opacity: 1;
    position: relative;
    top: 158px;
    left: 119px;
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
    border-bottom-left-radius: 31px;
    border-bottom-right-radius: 31px;
    overflow: hidden;
    border: none;
    box-shadow: -4px 4px 2px rgb(171 171 171 / 50%);
  }
  .textDelete {
    width: 311px;
    color: rgb(251 251 251);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Poppins;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .buttonAdicionar {
    width: 140px;
    height: 46px;
    background: rgb(224 139 218);
    opacity: 1;
    position: relative;
    top: 160px;
    left: -180px;
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
    border-bottom-left-radius: 31px;
    border-bottom-right-radius: 31px;
    overflow: hidden;
    border: none;
    box-shadow: -4px 4px 2px rgb(171 171 171 / 50%);
  }
  .textAdicionar {
    width: 311px;
    color: rgb(251 251 251);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Poppins;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }
  .textMateriais {
    width: 202px;
    color: rgb(232 163 227);
    position: absolute;
    top: 44px;
    left: 106px;
    font-family: Roboto;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  #buttonbackMateriaisProChild {
    position: absolute;
    top: 46px;
    left: 32px;
    border: none;
    font-size: x-large;
    color: lightgray;
    background-color: rgba(250, 249, 249, 1);
}